{{#if isEditMode}}
  {{paper-input class="test-contact-name" value=value class="test-name-field"}}
  {{#paper-button action=(toggle "isEditMode" this) primary=true}}save{{/paper-button}}
{{else}}
  {{value}}
  {{#paper-button action=(toggle "isEditMode" this) class="test-edit-name-button"}}edit{{/paper-button}}
{{/if}}

