<h2>Contact details <span class="test-contact-name">{{model.name}}</span></h2>
{{name-field value=model.name}}
<h3>E-Mails</h3>
<table>
  <tbody>
    {{#each model.emailAddresses as |emailAddress|}}
      <tr class="test-contact-email">
        <td>{{emailAddress.label}}</td>
        <td>{{emailAddress.email}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

<h3>Phones</h3>
<table>
  <tbody>
    {{#each model.phoneNumbers as |phoneNumber|}}
      <tr class="test-contact-phone">
        <td>{{phoneNumber.label}}</td>
        <td>{{phoneNumber.number}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
