<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Primary Email</th>
      <th>Primary Phone</th>
    </tr>
  </thead>
  <tbody>
  {{#each (sort-by "name" model) as |contact|}}
    <tr class="test-contact">
      <td class="test-contact-name">
        {{#link-to 'contacts.edit' contact.id}}{{contact.name}}{{/link-to}}
      </td>
      <td class="test-contact-primary-email">
        {{#with (get (object-at 0 (filter-by 'label' 'primary' contact.emailAddresses)) 'email') as |emailAddress|}}
        <a href="mailto:{{emailAddress}}">{{emailAddress}}</a>
        {{/with}}
        {{#if (gt (get (filter-by 'label' 'primary' contact.emailAddresses) 'length') 1)}}
        (+{{dec (get (filter-by 'label' 'primary' contact.emailAddresses) 'length') }})
        {{/if}}
      </td>
      <td class="test-contact-primary-phone">
        {{#with (get (object-at 0 (filter-by 'label' 'primary' contact.phoneNumbers)) 'number') as |phoneNumber|}}
        <a href="tel:{{phoneNumber}}">{{phoneNumber}}</a>
        {{/with}}
        {{#if (gt (get (filter-by 'label' 'primary' contact.phoneNumbers) 'length') 1)}}
        (+{{dec (get (filter-by 'label' 'primary' contact.phoneNumbers) 'length') }})
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
